@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  background-color: #121211;
  margin: 0rem;
  overflow: hidden;
  /* user-select: none; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 89%;
  margin: auto;
  max-width: 1044px;
}

/* NAV STYLING */

nav {
  background-color: rgb(15, 14, 14);
  padding: 20px 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.navbar h1 {
  font-size: 30px;
  font-weight: 700;
  color: #a67134;
}

.navbar span {
  color: rgb(5, 73, 5);
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-menu li {
  color: rgb(3, 136, 3);
  font-weight: 500;
}

.navbar-button {
  background-color: rgb(5, 73, 5);
  padding: 7px 10px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar-button:hover {
  background-color: rgba(5, 73, 5, 0.7);
}

.bar {
  background-color: rgb(5, 73, 5);
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 4.4rem;
    right: 0;
    background-color: rgb(15, 14, 14);
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 6rem, 0;
    z-index: 10;
    transition: 0.3s;
    gap: 5rem;
    padding-top: 6rem;
    left: -100%;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Image Track */
#image-track > .image {
  width: 35vmin;
  height: 49vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
}
